@* @model <LogCargas.Models.RedeFrota> *@

@{
    ViewData["Title"] = "Rede Frota - Abastecimentos";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <hr />
    <h1 class="text-bg-info text-center"> Importação finalizada com sucesso </h1>
    <hr />
    <div class="d-grid gap-2">
        <a class="btn btn-lg btn-primary" asp-controller="RedeFrota" asp-action="Index" type="button">Retornar</a>
    </div>
</div>


